:root {
    --main-bg-color: #DADADA;
    --nav-color: #2d2d2d;
    --comp-bg-color: #323232;
    --img-bg-color: #444444;
    --img-bg-color-50: rgba(68, 68, 68, 0.5);
    --chat-bg-color: #353535;
    --chat-bg-color-op75: rgba(50, 50, 50, 0.75);
    --chat-bg-color-like-op75: #505050;
    --small-font-color: #aaaaaa;
    --white-color: #fff;
    --white-color-ap25: rgba(255, 255, 255, 0.25);
    --scrollbar-thumb: #5F5F5F;
    --scrollbar-thumb-hover: #555;
    --scrollbar-background: #B0B0B0;
}

/* Wasn't sure if I MUST use hex values, but that would mean 
that I'd have to create extra div position absolute, to make backgroud-color with opacity.
Or by using Sass =>  background-color: fade($color, 50%).
Decided just to go with plain css as wasn't sure of requirements */